{% include "header.html"%}

<body>

    <section class="hero is-primary">
        <div class="hero-body">
                <h1 class="title" align="center">
                  Performance of
                    {% if name %}
                    {{name }}
                    {% endif %}
                </h1>
        </div>
    </section>


    <section class="section">

        <div class="container">
            <div class="columns">
                <div class="column is-offset-0  ">
                    <div class="box">

                                <div class="content">
                                <span>    <img src='{{ graph1 }}'> </span>
                                </div>
                     </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="box">
                        <a href="{{ url_for('index')}}">Home </a>
                </div>
            </div>
        </div>

    </section>
    -->



</body>
